<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="#" 
        style="font-family: 'Roboto Slab', serif;">SONICBOARDS</a>
    <button class="navbar-toggler" type="button"
            (click)="navbarOpen = !navbarOpen">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" [ngClass]="{ 'show': navbarOpen }">
        <ul class="navbar-nav mr-auto">
        <li class="nav-item active"><a class="nav-link" href="/">Home</a></li>
        <li class="nav-item"><a class="nav-link" href="/canada">Canada</a></li>
        <li class="nav-item"><a class="nav-link" href="/about">About</a></li>
        </ul>
        <span class="navbar-text">Updated on {{ date_stamp_str }}</span>
    </div>
</nav>

<main class="container-fluid pl-0 pr-0">

<div class="row ml-3 mr-3 mt-3">
<div class="col-lg-8 col-xl-8 mb-3">
<div class="card bg-dark">
<div class="card-header pl-1 mt-1" style="padding: 0; font-size: 0">
    <button (click)="onCatClick($event)" type="button" 
    [ngClass]="{'rb-active': current_tab === 'pitchfork'}"
    class="region-button" id="rb-pf">Pitchfork</button>
    <button (click)="onCatClick($event)" type="button" 
    [ngClass]="{'rb-active': current_tab === 'allmusic'}"
    class="region-button" id="rb-am">AllMusic</button>
    <div ngbDropdown class="dropdown float-right mt-1 mr-1" 
    style="font-size: 1rem; color:#fff;" placement="bottom-right">
        <a ngbDropdownToggle>
        <svg class="bi bi-three-dots-vertical" width="1em" height="1em" 
            viewBox="0 0 16 16" fill="currentColor" 
            xmlns="http://www.w3.org/2000/svg" style="cursor: pointer">
            <path fill-rule="evenodd" d="M9.5 13a1.5 1.5 0 11-3 0 1.5 1.5 0 013 0zm0-5a1.5 1.5 0 11-3 0 1.5 1.5 0 013 0zm0-5a1.5 1.5 0 11-3 0 1.5 1.5 0 013 0z" clip-rule="evenodd"/>
        </svg></a>
        <div ngbDropdownMenu class="dropdown-menu dropleft" 
        style="background-color:#3e454d; color:#fff;">
            <button ngbDropdownItem  (click)="onGenClick($event)" class="toggle-genre" 
            style="cursor: pointer; color:#fff;">Show Genres</button>
        </div>
    </div>
</div>

<div class="card-body" style="font-size:0; text-align: center;">
<!---------------------------- PITCHFORK -------------------------------->
<div *ngIf="current_tab === 'pitchfork'">
<div *ngFor=" let obj of pitchfork_data; let i = index" 
    class="container album-display pl-0 pr-0"
    [ngStyle]="{'width': i < 5 ? '18.8%' : (i < 12 ? '13.43%' : '11.75%') }">
    <a href="{{ obj.url }}" target="_blank">
        <img src="{{ obj.sp_img }}" width="100%"></a>
    <div class="genre-badge" *ngIf="genre_flag" [@genreToggle]>
    <span class="badge badge-pill genre-{{ obj.genre }}">{{ obj.genre }}</span>
    </div>
</div>
</div>

<!---------------------------- ALLMUSIC -------------------------------->
<div *ngIf="current_tab === 'allmusic'">
<div *ngFor="let obj of allmusic_data; let i = index" 
    class="container album-display pl-0 pr-0"
    [ngStyle]="{'width': i < 5 ? '18.8%' : (i < 12 ? '13.43%' : '11.75%') }">
    <a href="{{ obj.url }}" target="_blank">
        <img [src]=" obj.sp_img " width="100%" max-width="50px"></a>
    <div class="genre-badge" *ngIf="genre_flag" [@genreToggle]>
    <span class="badge badge-pill genre-{{ obj.genre }}">{{ obj.genre }}</span>
    </div>
</div>
</div>

</div>
</div>
</div>

<!----------------------------------------------------------------------->
<!----------------------------------------------------------------------->
<!---------------------------- TOP RELEASES ----------------------------->
<!----------------------------------------------------------------------->
<!----------------------------------------------------------------------->

<div class="col-lg-4 col-xl-4">
<div class="card bg-dark">
<div class="card-body">
<table class="table table-sm mb-0" style="color: #fff">
<thead>
<tr>
    <th>Release</th>
    <th data-toggle="tooltip" title="Spotify Popularity (/100)">
        <img class="align-bottom" style="height:30px" 
            src="assets/icon_spotify.svg">
    </th>
    <th data-toggle="tooltip" title="Treble Chef's Score (/100)">
        <!-- Retrieved from flaticon -->
        <img class="align-bottom" style="height:30px" 
            src="assets/icon_chef.svg">
    </th>
</tr>
</thead>

<!---------------------------- PITCHFORK ----------------------------->
<tbody *ngIf="current_tab === 'pitchfork'">
<tr *ngFor="let obj of pitchfork_data.slice(0, 5); let i = index; ">
    <td>
    <span style="font-size:1.1rem">
    <a href="https://open.spotify.com/artist/{{ obj.sp_artist_id }}" 
        target="_blank" style="color: #ffffff;">{{ obj.artist }}</a></span>
    <br/>
    <span style="color:#dedede; font-size:0.8rem">
    <a href="https://open.spotify.com/album/{{ obj.sp_album_id }}" 
        target="_blank" style="color: #ffffff;">{{ obj.title }}</a></span>
    </td>
    <td class="align-middle">{{ obj.sp_popularity }}</td>
    <td class="align-middle">{{ obj.score | number:'1.0-0'}}</td>
</tr>
</tbody>

<!---------------------------- ALLMUSIC  ----------------------------->
<tbody *ngIf="current_tab === 'allmusic'">
<tr *ngFor="let obj of allmusic_data.slice(0, 5); let i = index; ">
    <td>
    <span style="font-size:1.1rem">
    <a href="https://open.spotify.com/artist/{{ obj.sp_artist_id }}" 
        target="_blank" style="color: #ffffff;">{{ obj.artist }}</a></span>
    <br/>
    <span style="color:#dedede; font-size:0.8rem">
    <a href="https://open.spotify.com/album/{{ obj.sp_album_id }}" 
        target="_blank" style="color: #ffffff;">{{ obj.title }}</a></span>
    </td>
    <td class="align-middle">{{ obj.sp_popularity }}</td>
    <td class="align-middle">{{ obj.score | number:'1.0-0'}}</td>
</tr>
</tbody>

</table>

</div>
</div>
</div>
</div>


</main>
